.index{
    background-color: rgb(254, 125, 125);
}
p{
color: green;
}
h1{
    color: greenyellow;
    text-align: center;
}
h2{
    color: rgb(151, 176, 113);

}
h3{
    color: rgb(26, 131, 5);
}
h4{
    color: rgb(86, 255, 86);
}
.correo{
    background-color: rgb(255, 242, 0);
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    transition: transform 0.8s, background-color 0.9s;
    box-shadow:6px -4px 13px 9px rgba(55, 55, 55, 0.88);
}
.correo:hover{
    background-color: #2ba2ca;
    transform: rotate(25deg);
}
